
input {
  overflow: visible;
}

.reveal {
  display: none;
}

body {    
    font-family: "Droid Sans", sans-serif;
    margin: 1% 10% 10% 10%;
    padding: 50px 0px 0px 0px;
}

h1, .center {
  text-align: center;
}

a[class="box"] {
  padding: 0px 5px 0px 5px;
  border: 2px solid #5a82b4;
}

a:hover {
    cursor: pointer;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

#individual_class_form{
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.navbar-inverse{
  background: #2e2929;
}

#navbar li> a{
  color: #ECF0F1;
}

#navbar-title{
  color: #ECF0F1;
}

.form-control{
  width: 10%;
}

.div{
  display: block;
  position: relative;
}

.label{
  display: block;
}

.final{
  font-weight: bold
}

.save{
  color: LimeGreen;
}

.pay{
  color: Crimson;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.tab_nav{
  margin: 100px 0px 0px 0px;
}

.form_box{
  margin: 100px 0px 0px 0px;
  border: 1px solid black;
  background: white;
}

#gasOptionTwo{
  display: none; /*hide div initially*/
}

#gasOptionThree{
  display: none; /*hide div initially*/
}

#airOptionTwo{
  display: none; /*hide div initially*/
}

.tab-pane{
  padding: 20px;
}

.jumbotron{
  margin: 0px auto;
  padding: 70px 30px;
  background-image: url("../../images/Mosaic-Background.gif");
}

#indiv_calc_section{
  padding: 20px;
  background-color: #f7f7f7;
}

#bus_calc_section{
  padding: 20px;
}

.icon{
  margin-top: 60px;
}

#calculators{
  margin-bottom: 100px;
  margin-top: 50px;
}

#features{
  padding: 20px;
  margin-bottom: 100px;
  background-color: #f7f7f7;
}

.form-control{
  min-width: 100px;
  margin: 5px;
}